
{% extends "base.html" %}

{% block content %}

<div class="container text-left mt-4">
    <div class="row justify-content-center">
        <div class="col-4">

            <div class="card">
                <div class="card-header bg-primary text-light">
                    Register
                    </a>
                </div>
                <form method="POST" , action="">
                    {{ form.hidden_tag() }}
                    <ul class="list-group list-group-flush m-2">
                        <li class="list-group-item">
                            <p>{{ form.username.label(class="form-label") }}</p>
                            <p>{{ form.username(class="form-control") }}</p>
                            
                            <p>{{ form.password.label(class="form-label") }}</p>
                            <p>{{ form.password(class="form-control") }}</p>
                            
                            <p>{{ form.confirm_password.label(class="form-label") }}</p>
                            <p>{{ form.confirm_password(class="form-control") }}</p>
                            <!-- Wyświetla error z form, equal -->
                            {% for error in form.confirm_password.errors %}
                                <p class="text-danger">{{ error }}</p>
                            {% endfor %}

                            <p>{{ form.submit(class="btn btn-outline-primary btn-block") }}</p>
                        </li>
                        <p class="m-3">Already have account
                            <a href="{{ url_for('users.login') }}">[ Login ]</a>
                        </p>
                    </ul>
            </div>
        </div>
    </div>
</div>


{% endblock %}